@model MantenanceProjetASPNET6.Models.Candidat

@{
    ViewBag.Title = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/css/user_register.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Inscription</title>
    <!-- icon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/ensa_logo.png" />

</head>

<body>
    <div class="container register" style="opacity:0.9;">
        <div class="row">
            <div class="col-md-4 register-left mt-5">
                <img src="~/images/icons_user/graduation.svg" alt="" style="width:35%; height:35%" />
                <h3>Bienvenue à l'ENSA</h3>
                <p>Pour s'inscrire au concours d'accès à l'ENSA de SAFI en 3ème ou 4ème année</p>
                <a href="Login">
                    <input type="submit" name="" value="Login" /><br />
                </a>
            </div>

            <div class="col-md-8 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Inscription Candidat</h3>
                        @using (Html.BeginForm())
                        {
                            <div class="row register-form">
                                <div class="col-md-8 offset-2">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Nom" value="" name="nom" />
                                        @Html.ValidationMessage("Nom", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Prenom" value="" name="prenom" />
                                        @Html.ValidationMessage("Prenom", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="CIN" value="" name="cin" />
                                        @Html.ValidationMessage("Cin", new { @class = "text-danger" })
                                        @Html.ValidationMessage("UniqueCin", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="CNE" value="" name="cne" />
                                        @Html.ValidationMessage("Cne", new { @class = "text-danger" })
                                        @Html.ValidationMessage("UniqueCne", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Email" value="" name="email" />
                                        @Html.ValidationMessage("Email", new { @class = "text-danger" })
                                        @Html.ValidationMessage("UniqueEmail", new { @class = "text-danger" })
                                    </div>
                                    <select id="niveauSelect" name="niveau" class="form-control" onchange="updateFiliereOptions()">
                                        <option selected value="0">Choix de niveau</option>
                                        <option value="3">3 ème année</option>
                                        <option value="4">4 ème année</option>
                                    </select>
                                    <div class="form-group mt-3">
                                        <h4>Choix de Filière</h4>
                                    </div>

                                    @Html.ValidationMessage("selectNiveau", new { @class = "text-danger" })


                                    <div class="form-group" id="filiereOptions">
                                        <!-- Les options seront insérées dynamiquement ici -->
                                    </div>
                                    @Html.ValidationMessage("selectFiliere", new { @class = "text-danger" })
                                    
                                    <div class="form-group">
                                        <input type="submit" class="btnRegister" value="Register" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            }
        </div>

    </div>
</body>
<script>
    function updateFiliereOptions() {
        var niveauSelect = document.getElementById("niveauSelect");
        var filiereOptionsDiv = document.getElementById("filiereOptions");
        filiereOptionsDiv.innerHTML = ''; // Vider les options précédentes

        var niveau = niveauSelect.value;

        // Définir les filières en fonction du niveau sélectionné
        var filieres = [];
        if (niveau == "3") {
            // 3ème année : GMSI, GTR, GIIA, GATE, GIND, GPMA
            filieres = [
                { value: 9, label: "Génie mécatronique et systèmes intelligents" },
                { value: 7, label: "Génie réseux et télécommunications" },
                { value: 12, label: "Génie informatique et intelligence artifiielle" },
                { value: 8, label: "Génie aéronautique et technologie de l'espace" },
                { value: 6, label: "Génie industriel" },
                { value: 5, label: "Génie des procédés et matériaux avancées" }
            ];
        } else if (niveau == "4") {
            // 4ème année : GTR, GINF, IDIA, GIND, GATE, GPMA
            filieres = [
                { value: 7, label: "Génie réseux et télécommunications" },
                { value: 11, label: "Génie informatique" },
                { value: 10, label: " Ingénieurie des données et intelligence artifiielle" },
                { value: 6, label: "Génie industriel" },
                { value: 8, label: "Génie aéronautique et technologie de l'espace" },
                { value: 5, label: "Génie des procédés et matériaux avancées" }
            ];
        }

        // Ajouter les options de filière dynamiquement
        filieres.forEach(function(filiere) {
            var radioDiv = document.createElement("div");
            radioDiv.classList.add("custom-control", "custom-radio", "mt-2");

            var input = document.createElement("input");
            input.type = "radio";
            input.classList.add("custom-control-input");
            input.id = "filiere" + filiere.value;
            input.name = "ID";
            input.value = filiere.value;

            var label = document.createElement("label");
            label.classList.add("custom-control-label");
            label.setAttribute("for", "filiere" + filiere.value);
            label.textContent = filiere.label;

            radioDiv.appendChild(input);
            radioDiv.appendChild(label);

            filiereOptionsDiv.appendChild(radioDiv);
        });
    }
</script>
</html>